@import "@/assets/scss/ress.scss";
@import "@/assets/scss/variables.scss";
* {
  padding: 0;
  margin: 0;
}
html {
  // height: -webkit-fill-available;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  // min-height: 100vh;
  // min-height: -webkit-fill-available;
  color: #424242;
  font-size: 1.3rem;
  font-family: sans-serif;
}
a {
  color: #424242;
  text-decoration: none;
}
li {
  list-style-type: none;
}
